body {
	background-color: #495057;
}
.row {
	justify-content: center;
}
.input-group .mb-3 {
	padding-top: 0px;
}
#convertButton {
	margin-left: 10px;
}
.form-control {
	resize:none;
}
.container-fluid {
	margin-top: 10px;
}
.card-header {
	-webkit-text-stroke-width: thin;
}
#resultLabel2 {
	padding-top: 10px;
}
#copiedBadge {
	text-align: center;
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s, opacity 1s linear;
  	font-size: 15px;
}
#copied {
	text-align: center;
}